body{	text-align: center;
		font-family:verdana;
		background: darkgrey;	
		background-image: url(hw4files/background.png);
}
		
h1  {	text-align: center;
		font-family: verdana;
		color: darkslategray;
		font-weight: bold;
}
		
h2  {	text-align: center;
		font-family:algerian;
		color: darkslategray;
}	
		
h3  {	text-align: center;
		font-family: verdana;
		color: darkslategray;
}
		
h4  {	text-align: center;
		font-family: verdana;
		color: darkslategray;
		font-size: 75%;
		font-style: italic;
}
		
h5  {	text-align: center;
		font-family: verdana;
		color: darkslategray;
}
		
p   {	margin: 10px 150px 10px 150px;
		text-align: center;
		font-family: verdana;
		color: darkslategray;
		border-style: solid;
		border-radius: 5px;
		background-image: url(hw4files/fill.png);
}
		

footer{	text-align: center;
		font-family: verdana;
		color: darkslategray;				
		font-size: 75%;
		font-style: italic;
}
		
ul  {	
		text-align: center;
		font-family: verdana;
		color: ghostwhite;
		list-style-type: none;
		margin-left:-35px;
}
		
img {
	border: 5px solid darkslategrey;
	background-image: url(hw4files/fill.png);
	border-radius: 5px;
}
a:hover{
	color:red;
}

#tablebutton{
	margin-bottom: 20px;
}